@import "./variables.scss";
@import "./partials/header";
@import "./partials/weatherCard";
@import "./partials/savedCities";

* {
  padding: 0;
  margin: 0;
}

#main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $blue;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-container :nth-child(2) {
  padding: 0 0 0 10px;
}

#footer {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "MainType";
}

#footer__copy {
  font-size: 14px;
}

#footer__github {
  font-size: 13px;
}
