//type-faces
@font-face {
  font-family: "MainType";
  src: url("../../public/fonts/Montserrat-Light.ttf");
}

//screens, mobile-first
$screen-tablet-min: 760px;
$screen-desktop-min: 1024px;

//mix-ins
@mixin md {
  @media (min-width: #{$screen-tablet-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-desktop-min}) {
    @content;
  }
}

//colors
$blue: #1d2951;
