#header {
  width: 100%;
  min-height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  padding: 20px 0 10px 0;
  font-family: "MainType";
}

#form-search {
  width: 100%;
  display: flex;
  justify-content: center;
}

#form-search > input {
  width: 95%;
  font-size: 1.8em;
}

#header-city {
  font-family: "MainType";
  text-align: center;
  font-size: 2.3em;
  padding: 10px 0 15px 0;
  border: none;
  color: red;
}

#header__conv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3% 0 0;
}

.conv-container__letter {
  padding: 0 10px 0 10px;
  transition: transform 0.6s;
  font-size: 0.8em;
}

.active {
  font-size: 1.2em;
  color: red;
}

#header-weather-display-container {
  padding: 15px 0 0 0;
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
}

#header-weather-display__title {
  font-size: 1rem;
}

.forecast-select {
  padding: 0 10px 0 10px;
  background: none;
  border: none;
}

#header__menu-btn {
  padding: 0 0 0 3%;
}

#header__menu-btn {
  font-size: 24px;
}
