.weather-card {
  width: 18%;
  height: 100%;
  //border: 1px $text solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "MainType";
  justify-content: center;
}

.weather-card__day,
.weather-card__month {
  font-size: 1.5rem;
}

.weather-card__ltime {
  font-size: 0.8rem;
  padding: 3px 0 3px 0;
}

.weather-card__current {
  margin-top: 2%;
  font-size: 1.3rem;
  opacity: 0.5;
  font-family: "MainType";
}

.weather-card__icon-container {
  margin-top: 5%;
}

.weather-card__icon {
  font-size: 64px;
}

.weather-card__temp {
  font-family: "MainType";
}

.weather-card__item {
  font-size: 1rem;
  margin: 5% 0 0 0;
}

.disabled {
  display: none;
}
