.weather-card-container {
  width: 95vw;
  display: flex;
  padding: 5% 0 15% 0;
}

.weather-card {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-card__day {
  font-size: 1.7rem;
  padding: 0 0 10px 0;
  font-family: "MainType";
}

.weather-card__feels-like-container {
  width: 100%;
  font-family: "MainType";
}

.weather-card__feels-like {
  font-size: 18px;
  margin: 0 20% 0 0;
  transform: translateY(20px);
}

.weather-card__feels-like__num {
  font-size: 132px;
  font-weight: bold;
}

.weather-card__temp {
  font-family: "MainType";
  font-size: 1rem;
}

.weather-card__info-container {
  text-align: left;
  padding: 0 0 0 20%;
}
